/*************************


    main.css TABLE OF CONTENTS
    ==========================

    1) General Styling
    2) Navbar Styling
    3) Side Menu Styling
    4) Content Section Styling
    5) Analytics Styling
    6) Database Styling
    7) Manage Users Styling
    8) Ask Watson Styling


************************ */


/* *********************** */
/*  1) General Styling     */
/* *********************** */
html, body {
    width: 100%;
    height: 100%;
}


/* *********************** */
/*  2) Navbar Styling      */
/* *********************** */
nav.navbar {
    /* Navbar needs to be on top of everything else */
    z-index: 1;
}


/* *********************** */
/*  3) Side Menu Styling   */
/* *********************** */
div.side-menu {
    position: fixed;
    /* TODO(matthewe|2014-10-17): for now hard code the width, eventually
        look into making side menu responsive / mobile. */
    width: 200px;
    background-color: #2B3E51;
    top: 0;
    left: 0;
    height: 100vh;

    /* Padding for the navigation bar */
    padding-top: 100px;
}

ul.side-menu-list {
    color: white;
    list-style-type: none;
    padding: 0px 15px;
    margin: 0px;
    font-size: 1.1em;
}

ul.side-menu-list li.side-menu-list-item {
    padding: 15px 0px;
    margin: 0px;
    text-decoration: none !important;
    color: white;

    /* Fade out for unselected */
    opacity: .5;

    /* Time duration for hover transforms */
    transition: 0.25s ease-in-out;
}

/* Remove the link styling for side menu items*/
ul.side-menu-list a {
    text-decoration: none;
}

ul.side-menu-list li.active {
    opacity: 1.0;
}

ul.side-menu-list li.side-menu-list-item:hover, li.active {
    -webkit-transform: translate(.8em, 0);
    -moz-transform: translate(.8em, 0);
    -o-transform: translate(.8em, 0);
    -ms-transform: translate(.8em, 0);
    transform: translate(.8em, 0);
}

ul.side-menu-list li.side-menu-list-item i {
    width: 40px;
    text-align: center;
}


/* ***************************** */
/*  4) Content Section Styling   */
/* ***************************** */
div.contents {
    padding-left: 200px;
    padding-top: 100px;
}


/* ***************************** */
/*  7) Manage User Styling       */
/* ***************************** */
.card-outer {
    text-align: center;
}

.card {
    background-color: #ecf0f1;
    max-width: 250px;
    margin: auto;

    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

    position: relative;
    height: 300px;
}

.card .user-img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;

    height: 150px;
    width: 150px;
    border: 3px solid;
    border-radius: 50%;
}

.card .user-img i {
    line-height: 150px;
    vertical-align: middle;
}

.card-name {
    font-size: 1.4em;
}

.card-company {
    font-size: 1.1em;
}

.card-title {
    font-size: 1.1em;
}

.card-name, .card-company, .card-title {
    letter-spacing: .7px;
    margin: 1px 0px;
}

.user-settings-icon {
    position: absolute;
    right: 7px;
    top: 7px;
}
/* ***************************** */
/*  8) Content Section Styling   */
/* ***************************** */
input.question-input {
    width: 60%;
    float: left;
}

div.question-btn {
    margin: 0px 15px;
}

div.progress {
    width: 60%;
    height: 20px;
    margin: 10px 0px;
}
