<div>
    <div class="title-bar">
        <h1>Usage <span ng-if="number">for {[{ number }]}</span></h1>
        <span ng-if="number === undefined">
            <input
            type="text" class="user-search form-control"
            placeholder="888-888-8888" ng-model="$parent.q.phone_number">
        </span>
    </div>

    <!-- General View -->
    <div ng-if="number === undefined">
        <table class="question-table table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Phone Number</th>
                    <th>Number of Calls</th>
                    <th>Last Call Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="question in questions | filter:q">
                    <td>
                        <a href="#database/{[{ question.phone_number }]}">
                            {[{ question.phone_number }]}
                        </a>
                    </td>
                    <td>{[{ question.number_of_questions }]}</td>
                    <td>{[{ question.last_call_date }]}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="number !== undefined">
        <div class="question-card" ng-repeat="question in askedQuestions">
            <div class="question-time">{[{ question.time }]}</div>
            <h4>Question</h4>
            <div class="question-asked">{[{ question.question }]}</div>
            <h4>Answer</h4>
            <div class="question-answer">{[{ question.answer }]}</div>
        </div>
    </div>
</div>
