<div ng-controller="DatabaseController">
    <div class="title-bar container">
        <h1>Database</h1>
        <input type="text" class="user-search form-control"
            placeholder="888-888-8888" ng-model="q.phone_number">
    </div>

    <table class="question-table table table-striped table-bordered">
        <thead>
            <tr>
                <th>Phone Number</th>
                <th>Number of Calls</th>
                <th>Last Call Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="question in questions | filter:q">
                <td>{[{ question.phone_number }]}</td>
                <td>{[{ question.number_of_questions }]}</td>
                <td>{[{ question.last_call_date }]}</td>
            </tr>
        </tbody>
    </table>
</div>
