<div ng-controller="ManageUsersController">
    <div class="title-bar container">
        <h1>Manage Users</h1>
        <input type="text" class="user-search form-control"
            placeholder="John Doe" ng-model="q.name">
    </div>

    <div class="card-outer col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="card">
            <div class="user-img">
                <i class="user-icon fa fa-plus fa-5x"></i>
            </div>

            <div class="card-name">Add User</div>
        </div>
    </div>

    <div ng-repeat="sponsor in sponsors | filter:q"
        class="card-outer col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="card">
            <i class="user-settings-icon fa fa-gear fa-2x"></i>

            <div class="user-img">
                <i class="user-icon fa fa-user fa-5x"></i>
            </div>

            <div class="card-name">{[{ sponsor.name }]}</div>
            <div class="card-company">{[{ sponsor.company }]}</div>
            <div class="card-title">{[{ sponsor.title }]}</div>
        </div>
    </div>
</div>
