<html>
<body>
<form method="post">
  <p>Unique Key: <input type="text" name="unique_id" />
  <p>Name: <input type="text" name="name" />
  <p>Phone Number: <input type="number" name="phone_number" />
  <p>URL: <input type="url" name="url" />
  <p>Description: <input type="text" name="description" />
  <p>Hours: <input type="text" name="hours" />
  <p>Street Address: <input type="text" name="street_address" />
  <p>City: <input type="text" name="city" />
  <p>Zip Code: <input type="text" name="zip_code" />
  <p>Image: <input type="url" name="image" />
  <p>Categories: <input type="text" name="categories" />
  <p>Details: <input type="text" name="details" />
  <p><input type="submit" />
</form>
</body>
</html>
