<html>
<body>
<form method="post">
  <p>Unique Key: <input type="text" name="unique_id" />
  <p>Name: <input type="text" name="name" />
  <p>Phone Number: <input type="text" name="phone_number" />
  <p>URL: <input type="url" name="url" />
  <p>Description: <input type="text" name="description" />
  <p>Physical Address: <input type="text" name="physical_address" />
  <p>Mailing Address: <input type="text" name="mailing_address" />
  <p>Taxonomy: <input type="text" name="taxonomy" />
  <p>Details: <input type="text" name="details" />
  <p><input type="submit" />
</form>
</body>
</html>
